*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:darkcyan;
    height: 72px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding: 16px;
}
header img{
    width: 40px;
}
nav ul{
    display : flex;
    flex-direction : row;
    align-items : center;
    gap: 20px;
    list-style-type: none;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#placeHolder{
    display : flex;
    flex-direction : row;
    align-items : center;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    width: 30%;
    border-radius: 8px;
}
input{
    padding: 8px;
    border: 0;
    width: 100%;
}
#placeHolder img{
    width: 20px;
    height: 20px;
    opacity: 70%;
}